*{
    box-sizing:border-box;
}

div{
    height: 50px;
    width: 400px;
    
    margin: 10px auto;
    border: 3px solid #f4a460;
    padding-top: 8px;

    font-size: 12px;
    background-color: #ffe4c4;

    text-align: center;
}

ul{
    list-style-position: inside;
}

li{
    color:#d2691e;
}

.title{
    padding: 0px;
    margin: 0;
    
    color: #ffa72f;
}

div.content{
    height: auto;
    width: auto;
    
    font-size: 20px;
}

div.credits{
    width: 600px;
    height: 180px;

    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;


}

li, .title, .content{
    font-family: sans-serif;
}

.credits p{
    display: inline-block;
    font-size: 20px;

    border: 1px solid red;

    position: static;
}

.author-photo{
    height: auto;
    width: 150px;

}
