/*UNIVERSAL SELECTORS*/

*{
    box-sizing:border-box;
}

/*TYPE SELECTORS*/

body{
    background-color: #f0e6d7;
}

div{
    height: 50px;
    width: 400px;
    
    margin: 10px auto;
    border: 3px solid #f4a460;
    padding-top: 8px;
    
    font-size: 12px;
    background-color: #ffe4c4;
    
    text-align: center;
}

li{
    color:#d2691e;
    font-weight: bold;
}

/*CHAIN SELECTORS*/

div.content{
    height: auto;
    width: auto;
    
    font-size: 20px;
}

div.credits{
    width: 600px;
    height: auto;
    
    padding: 0px;
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/*GROUPS SELECTORS*/

li, .title, .content{
    font-family: sans-serif;
}

ul, ol{
    list-style-position: inside;
}

.credits p, .recipe-credits p{
    font-size: 20px;
    
    padding: 0px;
    margin: 10px;
}

/*CLASSES SELECTORS*/

.title{
    padding: 0px;
    margin: 0;
    
    color: #ffa72f;
}
.author-photo{
    height: auto;
    width: 150px;
    
    margin-left: auto;
}
